{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/booking.css" %}">
  
    <title>Railway Management System</title>

  </head>
  <body>
   
    {% include "includes/header.html" %}


      {% block content %}{% endblock  %}
    
      {% block scripts %}{% endblock scripts %}
      
 
  </body>
</html>