{% extends "base.html" %}
{% load static %}

{% block cssblock %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="{% static "css/booking.css" %}">
</style>
{% endblock cssblock %}

{% block content %}
<div class="container">
  {% if empty %}
  <h1 style=" color: white;
  text-align: center;
  margin: 10%;" class="notavailable" >No Train Available to {{to_name}} from {{from_name}}</h1>
  
 {% else %}
  <div class="form-container">
    <form id="booking-form" action="{% url "ticketbooking" %}" method="post">
      {% csrf_token %}
      
        <label for="from">From:</label>
        <input name="from" id="From" value={{from_name}} readonly required>
        <label for="to">To:</label>
        <input name="to" id="To" value={{to_name}} readonly required>
        <br><br>
     
        <label for="date">Date:</label>
        <input name="date" type="Date" value={{date}} required readonly>
        
        
        
        <br>
        <br>
        {% for route , arrival, departure in train_with_arrival %}
        <input type="radio" value={{route.route_id}} name="route" id="{{route}}">
        <label for="{{route}}">{{route.train.name}}  {{arrival}} - {{departure}}</label>
        <br>
        <br>
        
        {% endfor %}

        <Label>Reservation : </Label>
        <br>
        <br>
        <input type="radio" value="True" name="reservation" id="reservationyes">
        <label for="reservationyes">Yes</label>
        
        <input type="radio" value="False" name="reservation" id="reservationno">
        <label for="reservationno">No</label>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
  </div>
  {% endif %}
</div>





{% endblock content %}


