{% extends "base.html" %}



{% block content %}
<div class="container">

    <div class="form-container">
        <title></title>
        <form action="">
            <label for="">From</label>
            <input type="text" name="from">
            <label for="">To</label>
            <input type="text" name="to">

        </form>
    </div>
   


</div>

{% endblock content %}


{% block scripts %}
<script>
    $( function() {
      var availableTags = [
        "ActionScript",
        "AppleScript",
        "Asp",
        "BASIC",
        "C",
        "C++",
        "Clojure",
        "COBOL",
        "ColdFusion",
        "Erlang",
        "Fortran",
        "Groovy",
        "Haskell",
        "Java",
        "JavaScript",
        "Lisp",
        "Perl",
        "PHP",
        "Python",
        "Ruby",
        "Scala",
        "Scheme"
      ];
      $( "#tags" ).autocomplete({
        source: availableTags
      });
    } );
    </script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
{% endblock scripts %}